body {
    background: url('img/index_2_main.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p {
    line-height: 2em;
}
.bg_second {
    background: url('about_second.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.reach {
    text-align: center;
    color: white;

    h3 {
        margin: 70px auto 30px;
        width: 70%;
        font-size: 80px;
        font-weight: 200;
    }
    .wrap_ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 60%;
        margin: 70px auto;

       li {
           line-height: 2em;
           text-align: left;
       }

       
    }
}
.existence {
    background: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 80px;

    div {
        width: 40%;

        h2 {
            margin: 10px auto 50px;
            text-align: center;
            font-size: 60px;
            font-weight: 300;
        }
        p {
            line-height: 2em;
            margin-bottom: 30px;
        }

        img {
            width: 500px;
        }
    }
}

