body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: url(home_first.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -1000px;
  right: 0;
  z-index: -1;
}

li.active:before {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #D4AA00;
  position: absolute;
  top: -10px;
  left: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

li.active:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #D4AA00;
  position: absolute;
  top: 30px;
  left: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.hr_1 {
  width: 1px;
  height: 100px;
  background-color: darkgray;
  margin: 20px auto;
}

h2 {
  margin-top: 70px;
  font-size: 60px;
  font-weight: 200;
}

.wrap_firsr-bg {
  text-align: center;
}

.wrap_firsr-bg h1 {
  color: white;
  text-align: center;
  padding: 200px auto;
  width: 70%;
  margin: 250px auto;
  font-size: 90px;
  font-weight: 200;
}

.wrap_firsr-bg h2 {
  margin-top: 70px;
  font-size: 60px;
  font-weight: 200;
}

.wrap_firsr-bg .wrap_second-bg {
  background-color: #fff;
  border: 1px solid white;
  position: relative;
}

.wrap_firsr-bg .wrap_second-bg .run_left-wrap {
  width: 100%;
}

.wrap_firsr-bg .wrap_second-bg .run_left-wrap #run_left {
  width: 100%;
  position: relative;
  left: -150%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.wrap_firsr-bg .wrap_p {
  width: 1080px;
  font-size: 20px;
  margin: 0 auto;
}

.wrap_firsr-bg .wrap_p p {
  margin-bottom: 35px;
}

header {
  padding: 50px 50px 0;
  text-align: center;
  background: white;
}

header .logo img {
  width: 300px;
  height: 75px;
  border: 1px dotted #DCB87C;
}

header .logo img:hover {
  border: 1px dotted white;
}

header nav ul {
  list-style: none;
  width: 1080px;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  margin: 30px 30px 10px;
  position: relative;
}

header nav ul li:before {
  content: "";
  display: block;
  height: 0px;
  width: 100%;
  background-color: #D4AA00;
  position: absolute;
  top: -25px;
  left: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

header nav ul li:hover:before {
  top: -10px;
  left: 0;
  display: block;
  height: 3px;
}

header nav ul li:after {
  content: "";
  display: block;
  height: 0px;
  width: 100%;
  background-color: #D4AA00;
  position: absolute;
  top: 45px;
  left: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

header nav ul li:hover:after {
  top: 30px;
  left: 0;
  display: block;
  height: 3px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  padding: 16px 5px;
}

.promo_photo {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  border-bottom: 1px solid #fff;
}

.promo_photo #flip-card {
  overflow: visible;
}

.promo_photo > div {
  width: 30%;
  -webkit-box-shadow: 0 0 10px 5px silver;
          box-shadow: 0 0 10px 5px silver;
  position: relative;
  overflow: hidden;
}

.promo_photo > div .card_back {
  text-align: center;
  width: 100%;
  height: 537px;
  background-color: #fff;
  position: absolute;
}

.promo_photo > div .card_back h3 {
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 180px;
}

.promo_photo > div .card_back p {
  font-size: 0.9em;
  margin: 20px 0 40px;
}

.promo_photo > div .card_back a {
  padding: 10px 20px;
  border: 2px solid #D4AA00;
  color: #D4AA00;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.promo_photo > div .card_back a:hover {
  color: #fff;
  background-color: #D4AA00;
}

.promo_photo > div .flip-card-back {
  text-align: center;
  width: 100%;
  height: 537px;
  background-color: #fff;
  position: absolute;
}

.promo_photo > div .flip-card-back h3 {
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 180px;
}

.promo_photo > div .flip-card-back p {
  font-size: 0.9em;
  margin: 20px 0 40px;
}

.promo_photo > div .flip-card-back a {
  padding: 10px 20px;
  border: 2px solid #D4AA00;
  color: #D4AA00;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.promo_photo > div .flip-card-back a:hover {
  color: #fff;
  background-color: #D4AA00;
}

.promo_photo > div .card_back-1 {
  top: -537px;
  left: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.promo_photo > div .card_back-3 {
  top: 0;
  right: -100%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.promo_photo > div .card_front-1 {
  height: 537px;
  width: 100%;
  background: url(img/home_1.png);
  background-size: cover;
  background-position: center;
}

.promo_photo > div .flip-card-front {
  height: 537px;
  width: 100%;
  background: url(img/home_2.png);
  background-size: cover;
  background-position: center;
}

.promo_photo > div .card_front-3 {
  height: 537px;
  width: 100%;
  background: url(img/home_3.png);
  background-size: cover;
  background-position: center;
}

.card_inner:hover .card_back-1 {
  top: 0;
}

.card_inner:hover .card_back-3 {
  right: 0;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 537px;
  border: 1px solid #f1f1f1;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.partner {
  background-color: #fff;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
}

.partner .partner_icon {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.partner .partner_icon #prev {
  background-color: #fff;
  border: none;
  color: silver;
  display: block;
  font-size: 26px;
  position: absolute;
  left: 30px;
  top: 50%;
}

.partner .partner_icon #next {
  background-color: #fff;
  border: none;
  color: silver;
  display: block;
  font-size: 26px;
  position: absolute;
  top: 50%;
  right: 0;
}

.partner .partner_icon img {
  width: 25%;
}

/*

*/
footer {
  background: #F2F2F2;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  text-align: center;
}

footer h4 {
  margin: 10px auto 40px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}

footer .soc {
  text-align: center;
}

footer .soc a {
  display: inline-block;
  margin: 0 10px 40px;
  text-decoration: none;
  font-size: 1.8em;
  padding: 4px;
  color: black;
  background-color: #F2F2F2;
  border-radius: 50%;
}

footer .soc .inst:hover, footer .soc .in_:hover {
  color: #D4AA00;
}

footer .soc .faceb {
  width: 1em;
  color: white;
  background-color: black;
}

footer .soc .faceb:hover {
  background-color: #D4AA00;
}

footer p {
  font-size: 0.9em;
  font-weight: 200;
}
/*# sourceMappingURL=style.css.map */